/* Globales  */

html {
    font-size: 50%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.sombra {
    box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

/* Tipografia  */

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1, h2, h3 {
    text-align: center;
}

/* Inicio */

.inicio {
    background-image: url(../images/inicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-inicio {
    color: #ffffff;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 2rem;
    height: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-inicio h2, .contenido-inicio p {
    color: #ffffff;
}

.contenido-inicio .computador {
    display: flex;
    align-items: flex-end;
}

/* Trabajo */

span { background-color: #8ABB55; }

.trabajo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trabajo h3 {
    font-weight: bold;
}

.trabajo p {
    line-height: 2;
    text-align: justify;

}

.trabajo video{
    padding: 2rem;
}

.trabajo .iconos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Destinos */

.usa{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto auto auto;
    column-gap: 1rem;
}

.francia{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-columns: auto auto;
    column-gap: 1rem;
}